<mat-card>
<mat-card-title>Alterar Cadastro</mat-card-title>
<form>
  <mat-form-field>
    <input
      matInput
      placeholder="Nome"
      [(ngModel)]="usuario.nome"
      name="nome"
    />
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      placeholder="Aniversario"
      [(ngModel)]="usuario.aniversario"
      name="aniversario"
    />
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      placeholder="Email"
      [(ngModel)]="usuario.email"
      name="email"
    />
  </mat-form-field>
  <mat-form-field>
    <input
      matInput
      placeholder="Telefone"
      [(ngModel)]="usuario.telefone"
      name="telefone"
    />
  </mat-form-field>
</form>
<button mat-raised-button (click)="updateUsuario()" color="primary">
  Atualizar
</button>
<button mat-raised-button (click)="cancel()">
  Cancelar
</button>
</mat-card>